{% extends 'base.html' %}
{% block title %}Cancer miRNA Regulatory Network{% endblock %}
{% block javascript %}        <script type="text/javascript" src="/static/jquery-1.6.1.min.js"></script> 
        <script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>
        <script type='text/javascript'>
            $(document).ready(function() 
            { 
            $("#clusterTable").tablesorter( {sortList: [[0,0], [1,0]]} ); 
            } 
            );
        </script>
{% endblock %}
{% block content_col1 %}        <p>
            <table class='center'>
                <tr>
                    <td class='header'>
                        <div class='center1'>{{ cancer }}</div>
                    </td>
                </tr>
                <tr>
                    <td>Information about <a href='{{ wikipedia }}' target='_blank'>{{ cancer.lower }}</a> can be found on Wikipedia. Please click on a column heading to sort on the values in that column. <b><sup>DE</sup></b> indicates the miRNA was found to be differentially expressed in patient tumors of the same cancer type and is a link to the relevant enrtry in <a href='http://www.mir2disease.org' target='_blank'>miR2Disease</a>.  Gene ontology enrichment categories:  <b>BP</b> = biological process, <b>CC</b> = cellular component and <b>MF</b> = molecular function.  Please click on a category to see the enriched GO terms from that category.  Empty entries indicate no information is available.</td>
                </tr>
                <tr>
                    <td>
                        <table id='clusterTable' class='tablesorter' width='100%'>
                            <thead>
                            <tr>
                                <td colspan=2></td><td class='header3' colspan=3>Inferred miRNA Regulator</td><td></td>
                            </tr>
                            <tr>
                                <th class='header_left'>Cancer Dataset</th>
                                <th class='header_middle'>Cluster</th>
                                <th class='header_middle'>miRvesitgator</th>
                                <th class='header_middle'>PITA</th>
                                <th class='header_middle'>TargetScan</th>
                                <th class='header_right'>Gene Ontology Enrichment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entry in entries %}
                            <tr>
                                <td class='entry_left'><a href='/dataset/{{ entry.dataset }}'>{{ entry.dataset }}</a></td>
                                <td class='entry_middle'><a href='/cluster/{{ entry.dataset }}/{{ entry.number }}'>{{ entry.number }}</a></td>
                                <td class='entry_middle'>
                                    {% if entry.miRvestigator %}
                                        {% for mature_sequence_id, miRNA in entry.miRvestigator.items %}
                                        <a href='/miRNA/{{ entry.dataset }}/{{ entry.number }}/{{ mature_sequence_id }}'>{{ miRNA.name }}</a> {% if miRNA.validation %} <sup><a href="http://watson.compbio.iupui.edu:8080/miR2Disease/searchMiRNA.jsp?filter='hsa-{{ miRNA.name }}'" target='_blank'>DE</a></sup>{% endif %}</br>
                                        {% endfor%}
                                    {% else %}
                                        <span class='matchBackground'>zzz999</span>
                                    {% endif %}
                                </td>
                                <td class='entry_middle'>
                                    {% if entry.PITA %}
                                        {% for mature_sequence_id, miRNA in entry.PITA.items %}
                                        <a href='/miRNA/{{ entry.dataset }}/{{ entry.number }}/{{ mature_sequence_id }}'>{{ miRNA.name }}</a> {% if miRNA.validation %} <sup><a href="http://watson.compbio.iupui.edu:8080/miR2Disease/searchMiRNA.jsp?filter='hsa-{{ miRNA.name }}'" target='_blank'>DE</a></sup>{% endif %}</br>
                                        {% endfor%}
                                    {% else %}
                                        <span class='matchBackground'>zzz999</span>
                                    {% endif %}
                                </td>
                                <td class='entry_middle'>
                                    {% if entry.TargetScan %}
                                        {% for mature_sequence_id, miRNA in entry.TargetScan.items %}
                                        <a href='/miRNA/{{ entry.dataset }}/{{ entry.number }}/{{ mature_sequence_id }}'>{{ miRNA.name }}</a> {% if miRNA.validation %} <sup><a href="http://watson.compbio.iupui.edu:8080/miR2Disease/searchMiRNA.jsp?filter='hsa-{{ miRNA.name }}'" target='_blank'>DE</a></sup>{% endif %}</br>
                                        {% endfor%}
                                    {% else %}
                                        <span class='matchBackground'>zzz999</span>
                                    {% endif %}
                                </td>
                                <td class='entry_right'><center>
                                    <table cellpadding=0 cellspacing=0>
                                        <tr>
                                            {% if entry.BP or entry.CC or entry.MF %}
                                                {% if entry.BP %}<td class='center3'><a href='/{{ entry.url_bp }}'>BP</a></td>{% endif %}
                                                {% if entry.CC %}<td class='center3'><a href='/{{ entry.url_cc }}'>CC</a></td>{% endif %}
                                                {% if entry.MF %}<td class='center3'><a href='/{{ entry.url_mf }}'>MF</a></td>{% endif %}
                                            {% else %}
                                                <span class='matchBackground'>zzz999</span>
                                            {% endif %}
                                        </tr>
                                    </table>
                                </center></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </p>
{% endblock %}
