{% extends 'base.html' %}
{% block title %}Cancer miRNA Regulatory Network{% endblock %}
{% block javascript %}
{% endblock %}
{% block content_col1 %}
            <p>
            <table class='center'>
                <tr>
                    <td class='header'>
                        <div class='center1'>Citation</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <ul>
                                <li><a href='http://www.ncbi.nlm.nih.gov/pubmed/22745231' target='_blank' class='cite'>Plaisier CL, Pan M, Baliga NS. <b>A miRNA-regulatory network explains how dysregulated miRNAs perturb oncogenic processes across diverse cancers.</b> <i>Genome Res.</i> 2012 Jun 28. [Epub ahead of print] PubMed PMID: 22745231.</a></li>
                            </ul>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class='header'>
                        <div class='center1'>Supporting Citations</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><b><a href='https://tavazoielab.c2b2.columbia.edu/iPAGE/' target='_blank'>2,240 Co-expression Signatures for 46 Cancers</a></b> - <a href='http://www.ncbi.nlm.nih.gov/pubmed/20005852' target='_blank' class='cite'>Goodarzi H, Elemento O, Tavazoie S. <b>Revealing global regulatory perturbations across human cancers.</b> Mol Cell. 2009 Dec 11;36(5):900-11. PubMed PMID: 20005852; PubMed Central PMCID: PMC2900319.</a></li></br>
                            <li><b><a href='http://mirvestigator.systemsbiology.org' target='_blank'>miRvestigator</a></b> - <a href='http://www.ncbi.nlm.nih.gov/pubmed/21602264' target='_blank' class='cite'>Plaisier CL, Bare JC, Baliga NS. <b>miRvestigator: web application to identify miRNAs responsible for co-regulated gene expression patterns discovered through transcriptome profiling.</b> Nucleic Acids Res. 2011 Jul;39(Web Server issue):W125-31. Epub 2011 May 20. PubMed PMID: 21602264; PubMed Central PMCID: PMC3125776.</a></li></br>
                            <li><a href='http://genie.weizmann.ac.il/pubs/mir07/index.html' target='_blank'><b>PITA</b></a> - <a href='http://www.ncbi.nlm.nih.gov/pubmed/17893677' target='_blank' class='cite'>Kertesz M, Iovino N, Unnerstall U, Gaul U, Segal E. <b>The role of site accessibility in microRNA target recognition.</b> Nat Genet. 2007 Oct;39(10):1278-84.  Epub 2007 Sep 23. PubMed PMID: 17893677.</a></li></br>
                            <li><a href='http://www.targetscan.org/' target='_blank'><b>TargetScan</b></a> - <a href='http://www.ncbi.nlm.nih.gov/pubmed/18955434' target='_blank' class='cite'>Friedman RC, Farh KK, Burge CB, Bartel DP. <b>Most mammalian mRNAs are conserved targets of microRNAs.</b> Genome Res. 2009 Jan;19(1):92-105. Epub 2008 Oct 27. PubMed PMID: 18955434; PubMed Central PMCID: PMC2612969.</a></li></br>
                            <li><a href='http://www.mir2disease.org/' target='_blank'><b>miR2Disease</b></a> - <a href='http://www.ncbi.nlm.nih.gov/pubmed/18927107' target='_blank' class='cite'>Jiang Q, Wang Y, Hao Y, Juan L, Teng M, Zhang X, Li M, Wang G, Liu Y.  <b>miR2Disease: a manually curated database for microRNA deregulation in human disease.</b> Nucleic Acids Res. 2009 Jan;37(Database issue):D98-104. Epub 2008 Oct 15. PubMed PMID: 18927107; PubMed Central PMCID: PMC2686559.</a></li></br>
                            <li><a href='http://www.mirbase.org/' target='_blank'><b>miRBase</b></a> - <a href='http://www.ncbi.nlm.nih.gov/pubmed/17991681' target='_blank' class='cite'>Griffiths-Jones S, Saini HK, van Dongen S, Enright AJ. <b>miRBase: tools for microRNA genomics.</b> Nucleic Acids Res. 2008 Jan;36(Database issue):D154-8. Epub 2007 Nov 8. PubMed PMID: 17991681; PubMed Central PMCID: PMC2238936.</a></li></br>
                            
                          </ul>
                    </td>
                </tr>
                <tr>
                    <td class='header'>
                        <div class='center1'>Support Provided By</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>This work was supported by grants from NIH (P50GM076547 and 1R01GM077398-01A2), DoE (DE- FG02-04ER64685), NSF (DBI-0640950) and we also thank the <a href='http://wwwen.uni.lu/lcsb' target='_blank'>Luxembourg Centre for Systems Biomedicine</a> and the <a href='http://wwwen.uni.lu/' target='_blank'>University of Luxembourg</a> for support.</p>
                    </td>
                </tr>
            </table>
        </p>
{% endblock %}
