{% extends 'base.html' %}
{% block title %}Cancer miRNA Regulatory Network{% endblock %}
{% block javascript %}
{% endblock %}
{% block content_col1 %}
            <p>
            <table class='center'>
                <tr>
                    <td class='header'>
                        <div class='center1'>Help</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Help should go here.</p>
                    </td>
                </tr>
            </table>
        </p>
{% endblock %}
