{% extends 'base.html' %}
{% block title %}Cancer miRNA Regulatory Network{% endblock %}
{% block javascript %}        <script src="sorttable.js"></script>
        <script type="text/javascript" src="/static/jquery-1.6.1.min.js"></script> 
        <script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>
        <script type='text/javascript'>
            $(document).ready(function() 
            { 
                $("#geneTable").tablesorter( {sortList: [[0,0], [1,0]]} ); 
            } 
            );
        </script>
{% endblock %}
{% block content_col1 %}        <p>
            <table class='center' width='100%'>
                <tr>
                    <td class='header'>
                        <div class='center1'>miRNAs Inferred Using {{ method }}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table id='geneTable' class='tablesorter' width='100%'>
                            <thead>
                            <tr>
                                <th class='header_left'>Dataset</th>
                                <th class='header_middle'>Cluster Number</th>
                                <th class='header_right'>miRNA</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entry in entries %}
                            <tr>
                                <td class='entry_left'><a href='/dataset/{{ entry.dataset }}'>{{ entry.dataset }}</a></td>
                                <td class='entry_middle'><a href='/cluster/{{ entry.dataset }}/{{ entry.number }}'>{{ entry.number }}</a></td>
                                <td class='entry_right'>{% for miRNA, mat_seq_id in entry.miRNA.items %}
                                    <a href='/miRNA/{{ mat_seq_id }}'>{{ miRNA }}</a>
                                {% endfor %}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </p>
{% endblock %}
